# direnv
*.sw?
.direnv
.gopath
/direnv
/direnv.test
/dist
/test/config
/test/data
/test/scenarios/inherited/.envrc

# nix
result
result-bin/

# rust
**/*.rs.bk
*.pdb
debug/
target/
# Creating an executable. Leave the lock here:
# https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html
Cargo.lock
